.logo{
   
    padding-left: 40px !important;
}

.header{
    background-color: #000000;
    height: 80px;
   
    
}

.main-nav{
    float: right;
    list-style: none;
    margin-right: 120px;
    margin-top: 30px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color:#fff;
    text-decoration: none;
    font-size: 16px;
    
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;

}


.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22
}

.container{
  
   background-color: #e67e22;
   height: auto;
   margin:0;
}

body{
    margin: 0;
}

.profileText{
    text-align: center;
    padding: 30px;
    font-size:34px;
    font-weight: 700;
}

.pics{
    width:30px;
    height:auto;
    position: relative;
    left:550px;
    border-radius: 5px;
}
.about{
    text-align: center;
}
.the_form{
    position: relative;
    left: 200px;
    margin-top: 20px;
    padding: 20px;
    background-color: #e67e22;
    border-radius: 30px;
    width: 750px;
    border: 2px solid black;
}
.lab{
    padding: 10px;
}